<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <title>Hello, MyBoard!</title>
</head>
<script th:src="@{/bootstrap.min.js}"></script>
<body>
<header th:insert="fragments.html::nav"></header>
<div class="container">
    <h5 class="my-3 border-bottom pb-2">답변 수정</h5>
    <form id="answerForm" th:action="@{/answer/modify/}+${answerId}" th:object="${answerForm}" method="post">
        <!--        <input type="hidden" id="csrf" th:value="${_csrf.token}" th:name="${_csrf.parameterName}">-->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea id="content" namm="content" class="form-control" th:field="*{content}" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</body>
</html>